model:
  type: "apm_backbone"
  sidechain_model_type: null
  model_config_path: model.yaml
inference: 
  num_designs: 32
  num_cycle: 1
  output_prefix: ./experiment/monomer/
  write_trajectory: False
  inference_step: 400
  seed: null
design_config:
  use_partial_diffusion: false # set as true to use partial diffusionï¼Œset as false use full diffusion
  input_pdb: null
  contigs: [[New_20-30]]
  length: null
  partial_t: null
  bond_condition: null
  hotspots: null
interpolant:
  save_gt: false
  min_t: 0.01
  separate_t: false
  provide_kappa: false
  hierarchical_t: false
  codesign_separate_t: true
  codesign_forward_fold_prop: 0.25
  codesign_inverse_fold_prop: 0.25
  codesign_prop: -1.0
  cache_dir: "./cache"
  rots:
    corrupt: true
    train_schedule: linear
    sample_schedule: exp
    exp_rate: 10
    eps: 0.0001
    batch_ot: false
  trans:
    corrupt: true
    batch_ot: true
    train_schedule: linear
    sample_schedule: linear
    sample_temp: 1.0
    vpsde_bmin: 0.1
    vpsde_bmax: 20.0
    potential: null
    potential_t_scaling: false
    rog:
      weight: 10.0
      cutoff: 5.0
    eps: 0.0001
  aatypes:
    corrupt: true
    schedule: linear
    schedule_exp_rate: 10
    temp: 0.1
    noise: 20.0
    do_purity: true
    train_extra_mask: 0.0
    interpolant_type: masking
    eps: 0.0001
  ss:
    corrupt: True
    train_schedule: 'linear'
    sample_schedule: 'linear'
    prior_mix_lambda: 1   # 0.0 = pure identity prior, 1.0 = pure random prior, intermediate values are mixed
  sampling:
    num_timesteps: ${inference.inference_step}
    do_sde: false
    self_condition: False
  self_condition: 1.0
  codesign_packing_prop: 0.5
  codesign_partial_prop: 0.0
  codesign_partial_ratio: -1
  conditional_multimer_prop: 0.5
  conditional_multimer_ratio: 0.5
  torsions:
    corrupt: true
  sidechain_start_t: 0.8
  refine_start_t: 0.8

preprocess:
  sigma_perturb: 0
  rotation_perturb: False
  link_config: ./config/link.csv
  allatom_backend: apm  

guidance:
  list: